In [21]:
def star():
    '''
    Purpose : To draw a shape
    Input: None
    Output: None
    '''
    num = 10
    for i in range(10):
        print( ' ' * num + '*' + ' ' * num)
        num -= 2
        if(num == 0):
            print(' ' * num + '*' + ' ' * num)
            num += 2


        
def main():
    '''
    Purpose : To draw a shape
    Input: None
    Output: None
    '''
    star()   
    

if __name__ =='__main__':
    main()

          *
        *
      *
    *
  *
*
  *
*
  *
*
  *
*
  *
*
  *
*

In [22]:
abs(-5.4)

5.4

In [23]:
abs(15)

15

In [24]:
chr(72)

'H'

In [26]:
round(-29.4)

-29

In [27]:
float(57)

57.0

In [28]:
pow(9, 2)

81

In [29]:
max(23, 24, 44, 5)

44

In [31]:
min(23, 24, 44, 5)

5

In [32]:
max('a', 'b', 'ab')

'b'

In [39]:
def nMultiples(a= 0, num= 1):
    '''
    Objective: To show table
    Input Parameter: a - int
                    num - int
    Return Value: a * num - int
    '''
    return a * num

def main():
    for i in range(10):
        a, num = 0, 1
        print(nMultiples(a= a - 1, num= a - 1))
    
    
if __name__ == '__main__':
    main()

1
1
1
1
1
1
1
1
1
1

In [44]:
def table(num, nMultiples = 10):
    '''
    Input Parameter: 
        num : int - value whise table to print
        nMultiples : numeric - number of multiples to print
    Output: Multiplication table of number
    Return Value: None
    '''
    
    for multiple in range(1, nMultiples + 1):
        product = num * multiple
        print(num, '*', '%2d' % multiple, '=', '%5d' % product)
        
        
def main():
    '''
    Objective: To Print table
    Input Parameter: None
    Output Value: None 
    '''
    
    num = int(input('Enter the Number: '))
    table(num)
    
if __name__ == '__main__':
    main()

Enter the Number:  5

5 *  1 =     5
5 *  2 =    10
5 *  3 =    15
5 *  4 =    20
5 *  5 =    25
5 *  6 =    30
5 *  7 =    35
5 *  8 =    40
5 *  9 =    45
5 * 10 =    50

In [54]:
def SumofNumbers(n1, n2, n3):
    '''
    Objective: To sum the three float numbers
    Input Parameter:
        n1 - float value
        n2 - float value
        n3 - float value
    Output Parameter: None
    Return Value: sum - flaot value
        
        
    '''
    sum = n1 + n2 + n3
    return sum


def main():
    '''
    Objective: To print the Sum of float values
    Input Parameter:
        n1 - float value
        n2 - float value
        n2 - float value
        
    '''
    
    n1 = float(input('Enter the 1st Float value: '))
    n2 = float(input('Enter the 2nd Float value: '))
    n3 = float(input('Enter the 3rd Float value: '))
    
    print('Sum of Numbers is: ', SumofNumbers(n1, n2, n3))
    

if __name__ == '__main__':
    main()

Enter the 1st Float value:  23.4
Enter the 2nd Float value:  23.7
Enter the 3rd Float value:  6.4

Sum of Numbers is:  53.49999999999999

In [56]:
def SumofNumbers(n1, n2, n3):
    '''
    Objective: To sum the three float numbers
    Input Parameter:
        n1 - int value
        n2 - int value
        n3 - int value
    Output Parameter: None
    Return Value: sum - int value
        
        
    '''
    sum = n1 + n2 + n3
    return sum


def main():
    '''
    Objective: To print the Sum of float values
    Input Parameter:
        n1 - int value
        n2 - int value
        n2 - int value
        
    '''
    
    n1 = int(input('Enter the 1st int value: '))
    n2 = int(input('Enter the 2nd int value: '))
    n3 = int(input('Enter the 3rd int value: '))
    
    print('Sum of Numbers is: ', SumofNumbers(n1, n2, n3))
    

if __name__ == '__main__':
    main()

Enter the 1st int value:  3
Enter the 2nd int value:  5
Enter the 3rd int value:  7

Sum of Numbers is:  15

In [67]:
def printpower(n1, n2):
    '''
    Objective: To calculate Power
    Input Parameter:
        n1 : numeric - value of base
        n2 - Numeric Value of power
    Output Parameter: None
    Retun Value: power
    '''
    power = n1 ** n2
    return power

def main():
    '''
    Objective: To Print Power
    Input Parameter:
        n1 : numeric - value of base
        n2 - Numeric Value of power
    Output Parameter: power - flaot value
    Retun Value: power
    '''
    
    n1 = int(input('Enter the base of power: '))
    n2 = int(input('Enter the exponent of power: '))
    
    print("The power of " + str(n1) + ' and ' + str(n2) + ' is: ',printpower(n1, n2))
    
    
if __name__ == '__main__':
    main()

Enter the base of power:  2
Enter the exponent of power:  3

The power of 2 and 3 is:  8

In [68]:
def printSqureroot(n1, n2):
    '''
    Objective: To calculate Power
    Input Parameter:
        n1 : numeric - value of base
        n2 - Numeric Value of power
    Output Parameter: None
    Retun Value: power
    '''
    n2 = 1 / n2
    sqroot = n1 * n2
    return sqroot

def main():
    '''
    Objective: To Print Power
    Input Parameter:
        n1 : numeric - value of base
        n2 - Numeric Value of power
    Output Parameter: power - flaot value
    Retun Value: power
    '''
    
    n1 = int(input('Enter the base of power: '))
    n2 = int(input('Enter the exponent of power: '))
    
    print("The power of " + str(n1) + ' and ' + str(n2) + ' is: ',printSqureroot(n1, n2))
    
    
if __name__ == '__main__':
    main()

Enter the base of power:  6
Enter the exponent of power:  3

The power of 6 and 3 is:  2.0

In [74]:
def c2f(n1):
    '''
    Objective: To convert from celcius to fernheit
    Input Parameter:
        n1 : float - value of temp. in celcius
    Output Parameter: None
    Retun Value: fernheit
    '''
    fernheit = (n1 * (9 / 5)) + 32
    return fernheit

def main():
    '''
    Objective: To Print temperature conversion
    Input Parameter:None
    Output Parameter: fernheit - flaot value
    Retun Value: power
    '''
    
    n1 = float(input('Enter the temperature in Celcius: '))

    
    print("The temperature conversion from " + str(n1) + ' Fernheit is: ', c2f(n1))
    
    
if __name__ == '__main__':
    main()

Enter the temperature in Celcius:  37.5

The temperature conversion from 37.5 Fernheit is:  99.5

In [1]:
def squreformula(n1, n2):
    '''
    Objective: To calculate the (a+b)2
    Input Parameter:
        n1 : float - value of temp. in celcius
    Output Parameter: None
    Retun Value: fernheit
    '''
    ans = ((n1) ** 2) + ((n2) ** 2) + (2 * n1 * n2)
    return ans

def main():
    '''
    Objective: To Print temperature conversion
    Input Parameter:None
    Output Parameter: fernheit - flaot value
    Retun Value: power
    '''
    
    n1 = int(input('Enter the value of a: '))
    n2 = int(input('Enter the value of b: '))

    
    print("The temperature conversion from " + str(n1) + str(n2) + ' Fernheit is: ', squreformula(n1, n2))
    
    
if __name__ == '__main__':
    main()

Enter the value of a:  3
Enter the value of b:  2

The temperature conversion from 32 Fernheit is:  25

In [33]:
def rightTriangle(nRows):
    """
    Objective: To print the Right Triangle
    Input Parameter:
        nRows: numeric value - No.of rows
        
    Rturn:None
    """
    
    for i in range(1, nRows):
        print('*' * i)
        
def invertedTriangle(nRows):
    """
    Objective: To print the inverted Triangle
    Input Parameter:
        nRows: numeric value - No.of rows
        
    Rturn:None
    """
    nSpaces = 0
    nStars = 2 * (nRows - 1)
    for i in range(1, nRows + 1):
        print(' ' * nSpaces + '*' * nStars)
        nStars -= 2
        nSpaces += 1
        
        
def main():
    choice = int(input('Enter the 1 for Right Triangle.\n Enter 2 for Inverted trianlgle'))
    assert choice == 1 or choice == 2
    nRows = int(input("Enter no. of Rows: "))
    
    if choice == 1:
        rightTriangle(nRows)
    else:
        invertedTriangle(nRows)
        
if __name__ == '__main__':
    main()

Enter the 1 for Right Triangle.
 Enter 2 for Inverted trianlgle 2
Enter no. of Rows:  12

**********************
 ********************
  ******************
   ****************
    **************
     ************
      **********
       ********
        ******
         ****
          **

In [10]:
def tellTemperature(temp):
    '''
    Objective: Show message whether water is boiling or not.
    Input parameter:
        temp: float value - temperature in celcius
    Output: State of water
    Return : None
    '''
    
    if temp >= 100:
        print('Water is Boiling')
    elif temp >= 90:
        print('Water is about to boil.')
    elif temp >= 50:
        print('Water is moderate hot')
        
    elif temp >= 0:
        print('Water is start gaining temp')
    elif temp < 0:
        print('Water is less than 0 degree')

        
        
def main():
    
    temp = float(input('Enter the temperature in Celcius: '))
    
    tellTemperature(temp)
    
if __name__ == '__main__':
    main()

Enter the temperature in Celcius:  45.8

Water is start gaining temp

In [ ]:
def addition(value1, value2):
    '''
    Objective: For sum
    Input parameter:
        value1: numeric value - value to sum
        value2: numeric value - value to sum
    Output: None
    Return : sum
    '''
    return value1 + value2

def multiplication(value1, value2):
    '''
    Objective: For multiplicTION
    Input parameter:
        value1: numeric value - value to multiply
        value2: numeric value - value to multiply
    Output: None
    Return : Multiplication
    '''
    return value1 * value2

def subtraction(value1, value2):
    '''
    Objective: For Subtraction
    Input parameter:
        value1: numeric value - value to subtract
        value2: numeric value - value to subtract
    Output: None
    Return : subtract
    '''
    return value1 - value2

def division(value1, value2):
    '''
    Objective: For division
    Input parameter:
        value1: numeric value - value to divide
        value2: numeric value - value to divide
    Output: None
    Return : dividion
    '''
    return value1 / value2


def menu():
                
    value1 = float(input("Enter the Value1: "))
    value2 = float(input("Enter the Value2: "))
    
    if selection == '1':
        print(subtraction(value1,value2))
    elif selection == '2':
        print(multiplication(value1,value2))
    elif selection == '3':
        print(addition(value1, value2))
    elif selection == '4':
        print(division(value1, value2))
        

def main():
    menu()
    
    
if __name__ == '__main__':
    main()

In [47]:
def perfectNumber(num):
    '''
    Objective: To calculate wheteher it number is perfect of not.
    Input Parameter: 
        num: numeric - number to calculate the perfect status
    Output Paramter: None
    Return Boolean True/False
    '''
    dividers = []
    sums = 0
    for i in range(1, num):
        if num % i == 0:
            dividers.append(i)
    
    for j in dividers:
        sums += j
        
    if num == sums:
        return True
    else:
        False
        
        
def main():
    
    num = int(input("Enter the number: "))
    print(perfectNumber(num))
    
if __name__ == '__main__':
    main()

Enter the number:  8128

True

In [52]:
# This function has some issues
def lcm(value1, value2):
    '''
    Objective: To calculate the lcm
    Input Parameter:
        value1 - numeric value for lcm
        value2 - numeric value for lcm
    '''
    dividers = []
    lcm = 0
    for i in range(1, max(value1, value2)):
        if ((value1 % i == 0) or (value2 % i == 0)):
            dividers.append(i)
            
    for j in dividers:
        lcm += j
    return lcm
        
def main():
    
    value1 = int(input("Enter the 1 number: "))
    value2 = int(input("Enter the 2 number: "))
    print("The lcm of given numbers is: ", lcm(value1, value2))
    
    
if __name__ == '__main__':
    main()

Enter the 1 number:  45
Enter the 2 number:  34

The lcm of given numbers is:  86

In [57]:
  def computeLCM(value1, value2):
    '''
    Objective: To calculate the lcm
    Input Parameter:
        value1 - numeric value for lcm
        value2 - numeric value for lcm
    '''
    if value1 > value2:
        greater = value1
    else:
        greater = value2
    while(True):
        if(greater % value1 == 0) and (greater % value2 == 0):
            lcm = greater
            break
        greater += 1
    return lcm

def main():
    
    value1 = int(input("Enter the 1st number: "))
    value2 = int(input("Enter the 2nd number: "))
    
    print("LCM is: ", computeLCM(value1, value2))
    
    
if __name__ == '__main__':
    main()

Enter the 1st number:  456
Enter the 2nd number:  34

LCM is:  7752

In [61]:

def computediscount(saleamount):
    '''
    Objective: To calculate discount
    Input Parameter:
        salesamount - total amount of sale
    '''
    
    discount = 10
    
    discount = (10 / 100) * saleamount
    
    return discount

def main():
    
    unitprice = 100
    chocolates = int(input("Enter the amount of chocolates to buy: "))
    salesprice = chocolates * unitprice
    
    if salesprice >= 1000:
        discount = computediscount(salesprice)
    else:
        discount = 0
        
    payableprice = salesprice - discount
    
    print("There is " + str(discount) + ' discount on your buyed chocolates.\n So, you have to pay : ', payableprice )
    print("Total amount without discount: ", salesprice)
    
if __name__ == '__main__':
    main()

Enter the amount of chocolates to buy:  15

There is 150.0 discount on your buyed chocolates.
 So, you have to pay :  1350.0
Total amount without discount:  1500

In [2]:
def FindMaxMin(n1, n2, n3):
    '''
    Objective: To Find max and min
    Input Parameter:
        n1 - numeric value
        n2 - numeric value
        n3 - numeric value
    Return: maxAge, minAge
    '''
    if n1 > n2 and n2 > n3:
        greatest = n1
    elif n2 > n1 and n2 > n3:
        greatest = n2
    else:
        greatest = n3
        
    if n1< n2 and n1 < n3:
        lowest = n1
    elif n2 < n1 and n2 < n3:
        lowest = n2
    else:
        lowest = n3
        
    return greatest, lowest

def main():
    
    n1 = int(input("Enter the age of 1st Person: "))
    n2 = int(input("Enter the age of 2nd Person: "))
    n3 = int(input("Enter the age of 3rd Person: "))
    
    greatest, lowest = FindMaxMin(n1, n2, n3)
    
    print("Greatest", greatest)
    print("Lowest", lowest)
    
    
if __name__ == '__main__':
    main()

Enter the age of 1st Person:  23
Enter the age of 2nd Person:  56
Enter the age of 3rd Person:  78

Greatest 78
Lowest 23

In [16]:
def factorial(num):
    '''
    Objective: To Find factorial of given number
    Input Parameter:
        num - numeric value
    Return: fact
    '''
    fact = 1
    for i in range(num, 0, -1):
        fact = fact * i
        
    return fact
    
    
def main():
    
    num = int(input("Enter the Number: "))
    print("Factorial is: ", factorial(num))
    
    
if __name__ == '__main__':
    main()

Enter the Number:  6

Factorial is:  720

In [17]:
#Exercise
total = 0
count = 20
while count > 5:
    total += count
    count -= 1
print(total)

195

In [26]:
even = []  
def getEven(num):
    '''
     Objective: To Find even number
    Input Parameter:
        num - numeric value
    Return: evenum
    '''
        
    for i in range(0 ,num, 2):
        print(i)
        
def main():
    
    num = int(input("Enter the number: "))
    #print(getEven(num))
    getEven(num)
    
if __name__ == '__main__':
    main()

Enter the number:  50

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [31]:
 string = 'Hello World'

for i in range(len(string) - 1, -1, -1):
    print(string[i])

d
l
r
o
W

o
l
l
e
H

In [42]:
name = 'hello world'
print(name[-1: -2])

In [48]:
def ReverseString(string):
    '''
     Objective: To reverse the string
    Input Parameter:
        string - string value
        
    Return: None 
    '''
    revstring = ''
    
    for i in range(len(string) - 1, -1, -1):
        revstring = revstring + str(string[i])
    return revstring
    
    
def main():
    
    string = input("Enter the string to Reverse: ")
    print(ReverseString(string))
    
if __name__ == '__main__':
    main()

Enter the string to Reverse:  Mohsin Khan

nahK nishoM

In [52]:
for i in range(1, 11, 1):
    print('10 * ' + str(i) + ' =', 10 * i)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [59]:
def printTable(num, nMultiples):
    '''
     Objective: To print the table of number
    Input Parameter:
        num - number to print table
        nMultiples - No. of multiples
        
    Return: None 
    '''
    
    for i in range(1, nMultiples + 1, 1):
        print(str(num) + '*' + str(i) + '=', num * i)
        
        
def main():
    
    num = int(input("Enter the number, which you want to print table of: "))
    nMultiples = int(input("Enter the number of iterations you want to print: "))
    printTable(num, nMultiples)
    
if __name__ == '__main__':
    main()

Enter the number, which you want to print table of:  67
Enter the number of iterations you want to print:  98

67*1= 67
67*2= 134
67*3= 201
67*4= 268
67*5= 335
67*6= 402
67*7= 469
67*8= 536
67*9= 603
67*10= 670
67*11= 737
67*12= 804
67*13= 871
67*14= 938
67*15= 1005
67*16= 1072
67*17= 1139
67*18= 1206
67*19= 1273
67*20= 1340
67*21= 1407
67*22= 1474
67*23= 1541
67*24= 1608
67*25= 1675
67*26= 1742
67*27= 1809
67*28= 1876
67*29= 1943
67*30= 2010
67*31= 2077
67*32= 2144
67*33= 2211
67*34= 2278
67*35= 2345
67*36= 2412
67*37= 2479
67*38= 2546
67*39= 2613
67*40= 2680
67*41= 2747
67*42= 2814
67*43= 2881
67*44= 2948
67*45= 3015
67*46= 3082
67*47= 3149
67*48= 3216
67*49= 3283
67*50= 3350
67*51= 3417
67*52= 3484
67*53= 3551
67*54= 3618
67*55= 3685
67*56= 3752
67*57= 3819
67*58= 3886
67*59= 3953
67*60= 4020
67*61= 4087
67*62= 4154
67*63= 4221
67*64= 4288
67*65= 4355
67*66= 4422
67*67= 4489
67*68= 4556
67*69= 4623
67*70= 4690
67*71= 4757
67*72= 4824
67*73= 4891
67*74= 4958
67*75= 5025
67*76= 5092
67*77= 5159
67*78= 5226
67*79= 5293
67*80= 5360
67*81= 5427
67*82= 5494
67*83= 5561
67*84= 5628
67*85= 5695
67*86= 5762
67*87= 5829
67*88= 5896
67*89= 5963
67*90= 6030
67*91= 6097
67*92= 6164
67*93= 6231
67*94= 6298
67*95= 6365
67*96= 6432
67*97= 6499
67*98= 6566

In [65]:
def main():
    '''
     Objective: To print the table of number
    Input Parameter:
        num - number to print table
        nMultiples - No. of multiples
        
    Return: None 
    '''
    total = 0
    number = input("Enter the number: ")
    while number != '':
        total += int(number)
        number = input("Enter the Number: ")
    print("The sum is: ", total)
    
    
if __name__ == '__main__':
    main()

Enter the number:  34
Enter the Number:  34
Enter the Number:  34
Enter the Number:  34
Enter the Number:  34
Enter the Number:  34
Enter the Number:  34
Enter the Number:  34
Enter the Number:  35
Enter the Number:  45
Enter the Number:  45
Enter the Number:  45
Enter the Number:

The sum is:  442

In [ ]:
def main():
    '''
    Objective: To display the percentage of marks scored by student
    Inpute Parameter: None
    Return Parameter: None
    '''
    print("hello")
    totalMarks = 0
    nSubjects = 0
    
    while True:
        marks = input("Enter the Marks for Subject" + str(nSubjects + 1) + ":")
        if marks == '':
            break
        marks = float(marks)
        if marks < 0 or marks > 100:
            print("Invalid Marks! ")
            continue
        nSubjects = nSubjects + 1
        totalMarks += marks
        
        
    percentage = totalMarks / nSubjects
    print('Total marks: ', int(totalMarks))
    print('Number of Subjects', nSubjects)
    print("Percentage of Marks: ", percentage)
        
        
        
if __name__ == '__main__':
    main()

In [20]:
def checkpalindrome(text):
    """
    Objective: To print whether given string is palindrome
    Input Parameter:
        text - string
    """
    
    length = len(text)
    j = length - 1
    status = False
    
    if length % 2 == 0:
        for i in range(0, int(length/2)):
            if text[i] == text[j-i]:
                status = True
            else:
                status = False
    else:
        for i in range(0, int((length/2)) + 1):
            if text[i] == text[j-i]:
                status = True
            else:
                status = False
    
    return status
            
def main():
    
    string = input("Enter the string: ")
    print("Status", checkpalindrome(string))
    
if __name__ == '__main__':
    main()

Enter the string:  yuyi

Status False

In [15]:
def summation(value1, value2):
    
    plus = value1 + value2
    
    return plus


summation(3, 2)

5

In [14]:
def pyramid(nRows):
    '''
    Objective: To print the pyramid
    inPut parameter:
       nRows: numeric value
    Return: None
    '''
    
    for i in range(0, nRows):
            for j in range(0, i + 1):
                print("* ", end= '')
            
            
            
            
def main():
    
    nRows = int(input("Enter the no. of Rows: "))
    pyramid(nRows)
    
if __name__ == '__main__':
    main()

Enter the no. of Rows:  3

* * * * * *

In [18]:
def triangle(n):
    
    k = 2 * n - 2
    
    for i in range(0, n):
        for j in range(0, k):
            print(end= ' ')
        k = k - 2
        for j in range(0, i + 1):
            print("* ", end= '')
        print('')
        
        
def main():
    
    n = int(input("Enter the number: "))
    triangle(n)
    
if __name__ == '__main__':
    main()

Enter the number:  4

      *
    * *
  * * *
* * * *

In [23]:
def duplicate(string):
    count = 0
    for i in range(0, len(string)):
        for j in range(0, len(string)):
            if string[i] == string[j]:
                count += 1
                break
                
    return count
                
def main():
    
    string = input("Enter the string: ")
    print(duplicate(string))
    
if __name__ == '__main__':
    main()

Enter the string:  abdullah

8

In [1]:
tupl1 = ("Mohsin Khan", 'Ahsan', 192, 34, 23)
print(tupl1)

('Mohsin Khan', 'Ahsan', 192, 34, 23)

In [3]:
tupl1[2]

192

In [1]:
set = {'Hello', 'World', 34, 34 ,443}

In [2]:
print(set)

{443, 34, 'Hello', 'World'}

In [9]:
set1 = {19, 32, 23, 1,2,3, 4,3, 4,34 ,34 }
set2 = {12, 23, 23, 5, 6, 89, 5, 6, 5, 4}

set1.difference(set2)

{1, 2, 3, 19, 32, 34}

In [11]:
set2.difference(set1)

{5, 6, 12, 89}

In [13]:
tuple1 = (33, 44)
tuple2 = (55, 66)
temp = tuple1
tuple1 = tuple2
tuple2 = temp

print(tuple1)
print(tuple2)

(55, 66)
(33, 44)

In [16]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2.append(tuple1[3])

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
tuple1 = (50, 50, 50, 34, 23, 23, 23, 4, 5, 5)
tuple1.count(50)
for i in range(1, len(tuple1)):
    if tuple[i] == 50:
        count += 1
        
        
print(count)

TypeError: 'type' object is not subscriptable

In [1]:
for i in range(1, 1000):
    if i % 2 != 0:
        print('Prime: ', i)

Prime:  1
Prime:  3
Prime:  5
Prime:  7
Prime:  9
Prime:  11
Prime:  13
Prime:  15
Prime:  17
Prime:  19
Prime:  21
Prime:  23
Prime:  25
Prime:  27
Prime:  29
Prime:  31
Prime:  33
Prime:  35
Prime:  37
Prime:  39
Prime:  41
Prime:  43
Prime:  45
Prime:  47
Prime:  49
Prime:  51
Prime:  53
Prime:  55
Prime:  57
Prime:  59
Prime:  61
Prime:  63
Prime:  65
Prime:  67
Prime:  69
Prime:  71
Prime:  73
Prime:  75
Prime:  77
Prime:  79
Prime:  81
Prime:  83
Prime:  85
Prime:  87
Prime:  89
Prime:  91
Prime:  93
Prime:  95
Prime:  97
Prime:  99
Prime:  101
Prime:  103
Prime:  105
Prime:  107
Prime:  109
Prime:  111
Prime:  113
Prime:  115
Prime:  117
Prime:  119
Prime:  121
Prime:  123
Prime:  125
Prime:  127
Prime:  129
Prime:  131
Prime:  133
Prime:  135
Prime:  137
Prime:  139
Prime:  141
Prime:  143
Prime:  145
Prime:  147
Prime:  149
Prime:  151
Prime:  153
Prime:  155
Prime:  157
Prime:  159
Prime:  161
Prime:  163
Prime:  165
Prime:  167
Prime:  169
Prime:  171
Prime:  173
Prime:  175
Prime:  177
Prime:  179
Prime:  181
Prime:  183
Prime:  185
Prime:  187
Prime:  189
Prime:  191
Prime:  193
Prime:  195
Prime:  197
Prime:  199
Prime:  201
Prime:  203
Prime:  205
Prime:  207
Prime:  209
Prime:  211
Prime:  213
Prime:  215
Prime:  217
Prime:  219
Prime:  221
Prime:  223
Prime:  225
Prime:  227
Prime:  229
Prime:  231
Prime:  233
Prime:  235
Prime:  237
Prime:  239
Prime:  241
Prime:  243
Prime:  245
Prime:  247
Prime:  249
Prime:  251
Prime:  253
Prime:  255
Prime:  257
Prime:  259
Prime:  261
Prime:  263
Prime:  265
Prime:  267
Prime:  269
Prime:  271
Prime:  273
Prime:  275
Prime:  277
Prime:  279
Prime:  281
Prime:  283
Prime:  285
Prime:  287
Prime:  289
Prime:  291
Prime:  293
Prime:  295
Prime:  297
Prime:  299
Prime:  301
Prime:  303
Prime:  305
Prime:  307
Prime:  309
Prime:  311
Prime:  313
Prime:  315
Prime:  317
Prime:  319
Prime:  321
Prime:  323
Prime:  325
Prime:  327
Prime:  329
Prime:  331
Prime:  333
Prime:  335
Prime:  337
Prime:  339
Prime:  341
Prime:  343
Prime:  345
Prime:  347
Prime:  349
Prime:  351
Prime:  353
Prime:  355
Prime:  357
Prime:  359
Prime:  361
Prime:  363
Prime:  365
Prime:  367
Prime:  369
Prime:  371
Prime:  373
Prime:  375
Prime:  377
Prime:  379
Prime:  381
Prime:  383
Prime:  385
Prime:  387
Prime:  389
Prime:  391
Prime:  393
Prime:  395
Prime:  397
Prime:  399
Prime:  401
Prime:  403
Prime:  405
Prime:  407
Prime:  409
Prime:  411
Prime:  413
Prime:  415
Prime:  417
Prime:  419
Prime:  421
Prime:  423
Prime:  425
Prime:  427
Prime:  429
Prime:  431
Prime:  433
Prime:  435
Prime:  437
Prime:  439
Prime:  441
Prime:  443
Prime:  445
Prime:  447
Prime:  449
Prime:  451
Prime:  453
Prime:  455
Prime:  457
Prime:  459
Prime:  461
Prime:  463
Prime:  465
Prime:  467
Prime:  469
Prime:  471
Prime:  473
Prime:  475
Prime:  477
Prime:  479
Prime:  481
Prime:  483
Prime:  485
Prime:  487
Prime:  489
Prime:  491
Prime:  493
Prime:  495
Prime:  497
Prime:  499
Prime:  501
Prime:  503
Prime:  505
Prime:  507
Prime:  509
Prime:  511
Prime:  513
Prime:  515
Prime:  517
Prime:  519
Prime:  521
Prime:  523
Prime:  525
Prime:  527
Prime:  529
Prime:  531
Prime:  533
Prime:  535
Prime:  537
Prime:  539
Prime:  541
Prime:  543
Prime:  545
Prime:  547
Prime:  549
Prime:  551
Prime:  553
Prime:  555
Prime:  557
Prime:  559
Prime:  561
Prime:  563
Prime:  565
Prime:  567
Prime:  569
Prime:  571
Prime:  573
Prime:  575
Prime:  577
Prime:  579
Prime:  581
Prime:  583
Prime:  585
Prime:  587
Prime:  589
Prime:  591
Prime:  593
Prime:  595
Prime:  597
Prime:  599
Prime:  601
Prime:  603
Prime:  605
Prime:  607
Prime:  609
Prime:  611
Prime:  613
Prime:  615
Prime:  617
Prime:  619
Prime:  621
Prime:  623
Prime:  625
Prime:  627
Prime:  629
Prime:  631
Prime:  633
Prime:  635
Prime:  637
Prime:  639
Prime:  641
Prime:  643
Prime:  645
Prime:  647
Prime:  649
Prime:  651
Prime:  653
Prime:  655
Prime:  657
Prime:  659
Prime:  661
Prime:  663
Prime:  665
Prime:  667
Prime:  669
Prime:  671
Prime:  673
Prime:  675
Prime:  677
Prime:  679
Prime:  681
Prime:  683
Prime:  685
Prime:  687
Prime:  689
Prime:  691
Prime:  693
Prime:  695
Prime:  697
Prime:  699
Prime:  701
Prime:  703
Prime:  705
Prime:  707
Prime:  709
Prime:  711
Prime:  713
Prime:  715
Prime:  717
Prime:  719
Prime:  721
Prime:  723
Prime:  725
Prime:  727
Prime:  729
Prime:  731
Prime:  733
Prime:  735
Prime:  737
Prime:  739
Prime:  741
Prime:  743
Prime:  745
Prime:  747
Prime:  749
Prime:  751
Prime:  753
Prime:  755
Prime:  757
Prime:  759
Prime:  761
Prime:  763
Prime:  765
Prime:  767
Prime:  769
Prime:  771
Prime:  773
Prime:  775
Prime:  777
Prime:  779
Prime:  781
Prime:  783
Prime:  785
Prime:  787
Prime:  789
Prime:  791
Prime:  793
Prime:  795
Prime:  797
Prime:  799
Prime:  801
Prime:  803
Prime:  805
Prime:  807
Prime:  809
Prime:  811
Prime:  813
Prime:  815
Prime:  817
Prime:  819
Prime:  821
Prime:  823
Prime:  825
Prime:  827
Prime:  829
Prime:  831
Prime:  833
Prime:  835
Prime:  837
Prime:  839
Prime:  841
Prime:  843
Prime:  845
Prime:  847
Prime:  849
Prime:  851
Prime:  853
Prime:  855
Prime:  857
Prime:  859
Prime:  861
Prime:  863
Prime:  865
Prime:  867
Prime:  869
Prime:  871
Prime:  873
Prime:  875
Prime:  877
Prime:  879
Prime:  881
Prime:  883
Prime:  885
Prime:  887
Prime:  889
Prime:  891
Prime:  893
Prime:  895
Prime:  897
Prime:  899
Prime:  901
Prime:  903
Prime:  905
Prime:  907
Prime:  909
Prime:  911
Prime:  913
Prime:  915
Prime:  917
Prime:  919
Prime:  921
Prime:  923
Prime:  925
Prime:  927
Prime:  929
Prime:  931
Prime:  933
Prime:  935
Prime:  937
Prime:  939
Prime:  941
Prime:  943
Prime:  945
Prime:  947
Prime:  949
Prime:  951
Prime:  953
Prime:  955
Prime:  957
Prime:  959
Prime:  961
Prime:  963
Prime:  965
Prime:  967
Prime:  969
Prime:  971
Prime:  973
Prime:  975
Prime:  977
Prime:  979
Prime:  981
Prime:  983
Prime:  985
Prime:  987
Prime:  989
Prime:  991
Prime:  993
Prime:  995
Prime:  997
Prime:  999

In [52]:
def CheckPrime(number):
    count = 0
    '''
    Objective: Check whther input number is prime
    Input Parameter:
        number: number to check
    Return: status
    '''
    
    for i in range(2, (number // 2 + 1):
        if number % 2 == 0:
            count += 1
            break
    return count

def main():
    
    number = int(input('Enter the number: '))
    count = CheckPrime(number)
    if(count == 0 and number != 1):
        print('Entered number ' + str(number) + ' is Prime Number')
    else:
        print('Entered number ' + str(number) + ' is NOT Prime Number')
        
if __name__ == '__main__':
    main()

SyntaxError: invalid syntax (<ipython-input-52-7c66e78c33f7>, line 10)

In [15]:
#List
words = 'aeiou'
vowels = list(words)

In [18]:
vowels.append(23)
vowels

['a', 'e', 'i', 'o', 'u', 23, 23, 23]

In [19]:
vowels.extend(['a', 'w', 't', 45])

In [20]:
vowels

['a', 'e', 'i', 'o', 'u', 23, 23, 23, 'a', 'w', 't', 45]

In [24]:
vowels.count('a')

2

In [25]:
vowels.count(23)

3

In [28]:
vowels.pop(5)

23

In [29]:
vowels.remove(23)

In [30]:
vowels

['a', 'e', 'i', 'o', 'u', 23, 'a', 'w', 't', 45]

In [31]:
vowels.insert(2, 'mohsin')

In [32]:
vowels

['a', 'e', 'mohsin', 'i', 'o', 'u', 23, 'a', 'w', 't', 45]

In [33]:
vowels.reverse()

In [34]:
vowels

[45, 't', 'w', 'a', 23, 'u', 'o', 'i', 'mohsin', 'e', 'a']

In [35]:
vowels.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
vowels = ['a', 'e', 'i', 'o', 'u']

In [40]:
numbers = [1, 2, 43, 34 ,5, 6, 3, -34]
numbers.reverse()

In [41]:
numbers

[-34, 3, 6, 5, 34, 43, 2, 1]

In [42]:
numbers.sort()

In [43]:
numbers

[-34, 1, 2, 3, 5, 6, 34, 43]

In [44]:
numbers.sort(reverse = True)

In [45]:
numbers

[43, 34, 6, 5, 3, 2, 1, -34]