In [4]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [5]:
iris_data = pd.read_csv('iris.csv')

In [6]:
iris_data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [7]:
#Now, we have to separate the dependent and independent variables.

x = iris_data.drop('variety', axis= 1)

In [8]:
y = iris_data.variety

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state= 41)

In [10]:
model = linear_model.LogisticRegression()

In [11]:
model.fit(x_train, y_train)

LogisticRegression()

In [12]:
model.score(x_test, y_test) #Accuracy of Test Model

0.9333333333333333

In [13]:
model.score(x_train, y_train) #Accuracy of Train model

0.9833333333333333

In [14]:
model.predict([[6.5, 3.0, 5.2, 1.9]])

array(['Virginica'], dtype=object)

In [15]:
y_predicted = model.predict(x_train)

In [16]:
#Confusion Matrics

from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, y_predicted)

array([[41,  0,  0],
       [ 0, 38,  1],
       [ 0,  1, 39]], dtype=int64)

import pandas as pd
y_actu = pd.Series(y_train, name='Actual')
y_pred = pd.Series([y_predicted, name='Predicted')
df_confusion = pd.crosstab(y_actu, y_pred)

In [19]:
#Calculating Accuracy Manually
true_pn = 0
false_pn = 0
for y_act, y_test in zip(y_train, y_predicted):
    if y_act == y_test:
        true_pn += 1
    else: 
        false_pn += 1
        
accuracy = true_pn / (true_pn + false_pn)

In [20]:
accuracy

0.9833333333333333